body{
    background: #e9ebee;
}

.login-pictogram img {
    margin-top: 320px;
    margin-left: 250px;
    zoom: 0.4;
}

.ribeye {   font-family: 'Ribeye';
    font-size: 25px;
    text-shadow: 2px 2px 4px #aaa;
    color: rgb(93, 89, 89);
}

.home-navbar {
    font-size: 16px;
}

.login-btn-navbar {
    font-size: 15px;
}

.sub-menu-navbar {
    font-size: 14px;
}

.register-btn {
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.more-data{
    width:auto;
    height: auto;
    display:block;
    border:1px solid #ddd;
    border-radius: 8px;
    padding:10px;
    padding-top: 5px;
    margin-top: 17px;
    overflow:hidden;
}

.description {
    margin-bottom: 10px;
}

#more {
    padding-bottom: 5px;
    font-size: 11px;
}

.panel {
    border-radius: 7px;
}

.settings-panel {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.main-feed-container {
    margin-left: 0px;
    padding-left: 0px;
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 8px;
}
.panel-white {
    border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}
.panel-white  .panel-footer {
    background-color: #fff;
    border-color: #ddd;
}

/*/rgba(240, 246, 177, 0.76);
