body{
    margin-top:20px;
    background: #e9ebee;
}

.img-sm {
    width: 46px;
    height: 46px;
}

.panel {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 15px;
}

.panel .panel-footer, .panel>:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.panel .panel-heading, .panel>:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel-body {
    padding: 25px 20px;
}


.media-block .media-left {
    display: block;
    float: left
}

.media-block .media-right {
    float: right
}

.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto
}

.middle .media-left,
.middle .media-right,
.middle .media-body {
    vertical-align: middle
}

.thumbnail {
    border-radius: 0;
    border-color: #e9e9e9
}

.tag.tag-sm, .btn-group-sm>.tag {
    padding: 5px 10px;
}

.tag:not(.label) {
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 2px;
    border: 1px solid #cdd6e1;
    font-size: 12px;
    line-height: 1.42857;
    vertical-align: middle;
    -webkit-transition: all .15s;
    transition: all .15s;
}
.text-muted, a.text-muted:hover, a.text-muted:focus {
    color: #acacac;
}
.text-sm {
    font-size: 0.9em;
}
.text-5x, .text-4x, .text-5x, .text-2x, .text-lg, .text-sm, .text-xs {
    line-height: 1.25;
}

.btn-trans {
    background-color: transparent;
    border-color: transparent;
    color: #929292;
}

.btn-icon {
    padding-left: 9px;
    padding-right: 9px;
}

.btn-sm, .btn-group-sm>.btn, .btn-icon.btn-sm {
    padding: 5px 10px !important;
}

.mar-top {
    margin-top: 15px;
}

.home-pot {
    padding-bottom: 3px;
}

.textarea_post {
    resize: none;
}

.img-box{
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    border-radius: 2px;
    border: 0;
}

.circle {
    border-radius: 100%
}

.profile-img{
    margin-right: 5px;
    float: left;
    background-size: auto 100%; /* Interchange this value depending on prefering width vs. height */
    width: 30px;
    height: 30px;
}

.navbar-nav .open .dropdown-menu {
    margin-top: 5px;
}

.ribeye {   font-family: 'Ribeye';
    font-size: 25px;
    text-shadow: 2px 2px 4px #aaa;
    color: black;
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 8px;
}
.panel-white {
    border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}
.panel-white  .panel-footer {
    background-color: #fff;
    border-color: #ddd;
}

.logout-sub-menu-navbar {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.ingredients-header {
    font-size: 20px;
}

.arrow-to-ingredients {
    padding-top: 8px;
}

#cloudinary-overlay.modal {
    background-color: rgba(107, 107, 107, 0.89);
}

.post-img {
    width: 40px;
    height: auto;
}

#right-sidebar {
    background-color: #e9ebee;
    border-left: 1px solid rgba(86, 86, 86, 0.38);
    height: 100%;
    overflow-y: scroll;
    overflow-x:hidden;
    position: fixed;
    right: 0;
    top: 0;
}

.right-sidebar-header {
    padding-top: 55px;
    color: #5d5959;
}

.custom-divider {
    border-bottom: 1px solid rgba(86, 86, 86, 0.38);
}

.comment-img {
    width: 30px;
    height: 30px;
}

.comment-textarea {
    border-radius: 15px;
    width: 350px;
}

.comment-img-container {
    padding-right: 8px;
}

.commentBtn {
    position: fixed;
    top: -1000px
}

.like-counter {
    padding-left: 5px;
}

.like-heart-post {
    border-right: 1px solid rgba(86, 86, 86, 0.38);
}

.like:hover {
    color: rgba(255,0,20,0.53);
}

.ingr-outer {
    list-style: none;
    padding: 0;
}
.ingredientsDisplay {
    padding-left: 1.3em;
    padding-bottom: 8px;
}
.ingredientsDisplay:before {
    content: "\f138"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}

.img-message {
    width: 25px;
    height: auto;

}

.img-message-container {
    padding-bottom: 10px;
}

.spinner {
    width: 5rem;
    height: 5rem;
    border: 0.6rem solid #999;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}