
.content-profile-page {

    position: relative;
    float: left;
    margin: 10px auto;
    margin-left: 40px;
    height: auto;
    width: 232px;
    min-width: 230px;
    max-width: 360px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.content-profile-page:hover {
    transform: scale(1.01);
    -webkit-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.4);
}
.card {

    background: #fff;
    border: 1px solid #a6a8a9;
    height: 100%;
}
.my-profile-page .img-profile {

    margin: 0 auto;
    text-align: center;
}
.my-profile-page .img-profile .profile-bg {

    width: 230px;
    height: 200px;
    background-size: cover;
}
.my-profile-page .img-profile .avatar {

    margin: 0 auto;
    padding: 2px;
    border-radius: 100%;
    margin-top: -80px;
    background: #f8f7f5;
    width: 130px;
    height: 130px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
.my-profile-page .join-button {

    position: relative;
    outline: none;
    border: 1px solid #818283;
    border-radius: 3px;
    padding: 10px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    background: #8f9294;
    color: #fff;
    transition: all .5s ease-in-out;
}
.join-button:hover {

    color: #424242;
    background: #f0f0f0;
    font-size: 10px;
}
.my-profile-page .profile-data {

    text-align: center;
}
.my-profile-page .profile-data h1 {

    margin-top: 7px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300;
    color: #424242;
}
.my-profile-page .profile-data p {

    margin-top: 2px;
    margin-bottom: 15px;
    color: #a9a9a9;
    font-family: "Lato", sans-serif;
    font-size: 15px;
}
.my-profile-page .follow {

    display: table;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    width: 232px;
    max-height: auto;
    font-size: 8px;
}
.my-profile-page .follow li {

    display: table-cell;
    padding: 10px;
    text-align: center;
}
.my-profile-page .follow li a, .my-profile-page .follow li strong {

    display: inline;
    margin-right: 5px;
    color: #5e5e5e;
    font-family: "Helvetica", sans-serif;
}
.my-profile-page .follow li a {

    margin: 5px 0px 10px 0px;
    padding: 0px 0;
    color: #c8c8c8;
}
.my-profile-page .follow li a strong {

    font-weight: 400;
}
.my-profile-page .follow li a strong {

    font-size: 18px;
}
.squad-card-divider {

    border-top: 1px solid #f0f0f0;
    margin: 10px 30px -10px;
    width: 169px;
    height: 1px;
}
.follow .leftfollow {

    display: border-box;
    border-right: 1px solid #f0f0f0;
    margin: 5px 0;
}
.follow .rightfollow {

    display: border-box;
    border-left: 1px solid #f0f0f0;
    margin: 5px 0;
}

.joined-button {
    position: relative;
    outline: none;
    border: 1px solid #818283;
    border-radius: 3px;
    padding: 10px;
    font-size: 8px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    color: #424242;
    background: #f0f0f0;
}