<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <!-- Title -->
    <title>squadCOOK</title>

    <!-- Favicon -->
    <link rel="icon" href="/images/icon.png"/>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="/css/mainFeedCss.css" />
    <link rel="stylesheet" type="text/css" href="/css/loginCss.css" />
    <link rel="stylesheet" type="text/css" href="/css/leftSideBarCss.css" />
    <link rel="stylesheet" type="text/css" href="/css/discoverSquadsCss.css" />

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ribeye"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous"/>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="/js/leftSideBarJs.js" defer=""></script>
    <script src="http://widget.cloudinary.com/global/all.js" type="text/javascript" defer=""></script>
    <script src="/js/uploadJs.js" defer=""></script>
    <script src="/js/joinFollowJs.js" defer=""></script>

</head>
<body>

<div th:replace="header :: copy"></div>
<br/>
<br/>
<br/>

<div class="container main-feed-container">
    <div class="row">
        <!-- Left sidebar-->
        <div th:replace="leftSideBar :: copy"></div>

        <div class="col-md-8">
            <div class="panel panel-white post panel-shadow">
                <div class="panel-body">
                    <div class="squad-info" th:each="squad,iterStat : ${squads}">
                        <div class="row">
                            <div class="squad-profile-img-container col-xs-2">
                                <img class="squad-profile-img" th:src="${squad.getSquadImage()}" alt="profilpic"/>
                            </div>
                            <div class="profile-data">

                                <div class="text-left col-xs-2 squad-name font-sys-ui" th:text="${squad.getSquadName()}"></div>
                                <div class="col-xs-4 text-justify font-sys-ui" th:text="${squad.getSquadDescription()}"></div>
                                <form class="text-right col-xs-4" id="join-follow-form">
                                    <button th:if="${activeRelationship.contains(squad)}" th:id="${squad.getSquadId()}" th:class="${'font-sys-ui joined-button joinedButton joinedButton' + squad.getSquadId()}">Joined</button>
                                    <button type="button" th:if="${(not activeRelationship.contains(squad)) and (not pendingRelationship.contains(squad))}" th:id="${squad.getSquadId()}" th:class="${'font-sys-ui join-button joinButton joinButton' + squad.getSquadId()}">Join</button>
                                    <button th:if="${pendingRelationship.contains(squad)}" th:id="${squad.getSquadId()}" th:class="${'font-sys-ui joined-button joinedButton'}">Requested</button>

                                    <button th:id="${squad.getSquadId()}" th:class="${'font-sys-ui join-button followButton'}">Follow</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div th:replace="rightMessengerBar :: copy"></div>


    </div>

</div>
</body>
</html>