<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>

<div th:fragment="copy">

    <div class="col-md-2">
        <div class="col-md-3" id="leftCol">

            <div class="nav nav-stacked affix-top" id="sidebar">
                <div class="lefSideBarMenu"><a href="/"><img class="sidebar-img" src="images/feed.png"/> Feed</a></div>
                <div class="lefSideBarMenu"><a href="/discover_squads"><img class="sidebar-img" src="images/squads.png"/> Squads</a></div>
                <div class="lefSideBarMenu"><a href="#"><img class="sidebar-img" src="images/message.png"/> Messages</a></div>
                <div class="lefSideBarMenu"><a href="#"><img class="sidebar-img" src="images/picture.png"/> Photos</a></div>
                <div class="lefSideBarMenu"><a href="#"><img class="sidebar-img" src="images/game.png"/> Games</a></div>
                <div class="lefSideBarMenu"><a href="#"><img class="sidebar-img" src="images/event.png"/> Events</a></div>
                <div class="lefSideBarMenu"><a href="#"><img class="sidebar-img" src="images/weather.png"/> Weather</a></div>
                <div class="lefSideBarMenu"><a href="#"><img class="sidebar-img" src="images/weather.png"/> Weather</a></div>
                <div class="lefSideBarMenu"><a href="#"><img class="sidebar-img" src="images/weather.png"/> Weather</a></div>
                <div class="lefSideBarMenu"><a href="#"><img class="sidebar-img" src="images/weather.png"/> Weather</a></div>
            </div>

        </div>
    </div>

</div>

</body>
</html>