<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>

<div th:fragment="copy">

    <div class="col-md-2" id="right-sidebar">
        <h2 class="right-sidebar-header text-center"><small>Squad friends</small></h2>
        <hr class="custom-divider"/>
        <div class="img-message-container font-sys-ui"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/>  Mate Bedok</div>
        <div class="img-message-container font-sys-ui"><img class="img-circle img-sm img-message circle" src="/images/csakany_profile.jpg"/>  Tamas Csakany</div>
        <div class="img-message-container font-sys-ui"><img class="img-circle img-sm img-message circle" src="/images/david_profile.jpg"/>  David Grengo</div>
        <div class="img-message-container font-sys-ui"><img class="img-circle img-sm img-message circle" src="/images/hodi_profile.jpg"/>  Laci Kiss</div>
        <div class="img-message-container font-sys-ui"><img class="img-circle img-sm img-message circle" src="/images/gren_profile.jpg"/>  David Balogh</div>
        <div class="img-message-container font-sys-ui"><img class="img-circle img-sm img-message circle" src="/images/norbi_profile.jpg"/>  Feri Nagy</div>
        <div class="img-message-container font-sys-ui"><img class="img-circle img-sm img-message circle" src="/images/sanyi_profile.jpg"/>  Sandor Erdei</div>
        <div class="img-message-container font-sys-ui"><img class="img-circle img-sm img-message circle" src="/images/csakany_profile.jpg"/>  Tamas Csakany</div>
        <div class="img-message-container font-sys-ui"><img class="img-circle img-sm img-message circle" src="/images/david_profile.jpg"/>  David Grengo</div>
        <div class="img-message-container font-sys-ui"><img class="img-circle img-sm img-message circle" src="/images/hodi_profile.jpg"/>  Laci Kiss</div>
        <div class="img-message-container font-sys-ui"><img class="img-circle img-sm img-message circle" src="/images/gren_profile.jpg"/>  David Balogh</div>
        <div class="img-message-container font-sys-ui"><img class="img-circle img-sm img-message circle" src="/images/norbi_profile.jpg"/>  Feri Nagy</div>
        <div class="img-message-container font-sys-ui"><img class="img-circle img-sm img-message circle" src="/images/sanyi_profile.jpg"/>  Sandor Erdei</div>
        <div class="img-message-container font-sys-ui"><img class="img-circle img-sm img-message circle" src="/images/csakany_profile.jpg"/>  Tamas Csakany</div>
        <div class="img-message-container font-sys-ui"><img class="img-circle img-sm img-message circle" src="/images/david_profile.jpg"/>  David Grengo</div>

    </div>

</div>

</body>
</html>