<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>

<div th:fragment="copy">

    <div class="col-md-2" id="right-sidebar">
        <h2 class="right-sidebar-header text-center"><small>Squad friends</small></h2>
        <hr class="custom-divider"/>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedokfffff fffffffffff ffffffffffff</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
        <div class="img-message-container"><img class="img-circle img-sm img-message circle" th:src="${profileImage}"/> Mate Bedok</div>
    </div>

</div>

</body>
</html>