<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>






<div class="col-md-10">
    <div class="col-md-3" th:each="squad,iterStat : ${squads}">
        <div class="content-profile-page">
            <div class="my-profile-page card">
                <div class="img-profile">
                    <div class="profile-bg">
                    </div>
                    <img class="avatar" th:src="${squad.getSquadImage()}" alt="profilpic"/>
                </div>
                <div class="profile-data">
                    <h1 th:text="${squad.getSquadName()}"></h1>
                    <p th:text="${squad.getSquadDescription()}"></p>
                    <form id="join-follow-form">
                        <button th:if="${activeRelationship.contains(squad)}" th:id="${squad.getSquadId()}" th:class="${'relationship-button joined-button joinedButton joinedButton' + squad.getSquadId()}">Joined</button>
                        <button type="button" th:if="${(not activeRelationship.contains(squad)) and (not pendingRelationship.contains(squad))}" th:id="${squad.getSquadId()}" th:class="${'relationship-button join-button joinButton joinButton' + squad.getSquadId()}">Join</button>
                        <button th:if="${pendingRelationship.contains(squad)}" th:id="${squad.getSquadId()}" th:class="${'relationship-button joined-button joinedButton'}">Requested</button>

                        <button th:id="${squad.getSquadId()}" th:class="${'relationship-button join-button followButton'}">Follow</button>
                    </form>
                </div>
                <hr class="squad-card-divider"/>
                <ul class="follow">
                    <li class="leftfollow"><a><strong th:text="${squad.getMembersCount()}">3320</strong>Members</a></li>
                    <li class="rightfollow"><a><strong>1457</strong>Followers</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>









</body>
</html>